/* Global */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
  /* Google advises this color */
  background-color: #f1f1f1;
  color: #5f5352;
  font-family: 'EB Garamond', serif;

}
* {
 
}
.btn {
  background-color: #44c8f5;
  padding: 7px 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.0rem;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
.btn.completed{
  background-color: #ec008c;
  
}
.btn.completed::before{
  content: url("../../assets/media/check-white.svg");
  float: left;
  height: 20px;
  width: 20px;
}
.mark {
  background-color: red;
}
input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  outline: none;
  border: 0px solid;
  font-size: 2rem;
}
/********************/
/* Gradient classes */
/********************/
.green {
  background: linear-gradient(
    135deg,
    rgba(210, 255, 82, 1) 0%,
    rgba(210, 255, 82, 1) 24%,
    rgba(145, 232, 66, 1) 100%
  );
}

.yellow {
  background: linear-gradient(
    135deg,
    rgba(241, 231, 103, 1) 0%,
    rgba(254, 182, 69, 1) 100%
  );
}

.pink {
  background: linear-gradient(
    135deg,
    rgba(250, 160, 236, 1) 0%,
    rgba(242, 61, 148, 1) 100%
  );
}

.orange {
  background: linear-gradient(
    135deg,
    rgba(250, 245, 160, 1) 0%,
    rgba(219, 85, 37, 1) 100%
  );
}

.blue {
  background: linear-gradient(
    135deg,
    rgba(160, 193, 250, 1) 0%,
    rgba(40, 217, 240, 1) 100%
  );
}

.purple {
  background: linear-gradient(
    135deg,
    rgba(235, 233, 249, 1) 0%,
    rgba(193, 191, 234, 1) 100%
  );
}

.white {
  background: linear-gradient(
    135deg,
    rgba(204, 249, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

/* Top Navbar */
nav,
footer {
  background-color: rgba(30, 35, 39, 0.9);
  padding: 10px 20px;
}
nav ul,.complete-controller,.navigators {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav ul > li.title {
  font-weight: bold;
  color: #44c8f5;
  font-size: 2rem;
}
nav ul li.create-curriculum {
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
}
/* Main */
main > div{
  margin-bottom: 20px;
}
/* Header */
header {
}
header .image {
  background-image: url("../../images/howest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  width: 100%;
  height: 150px;
}

aside {
  background-color: red;
}

.row {
  margin-top: 25px;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  flex: 85%;
  padding: 0px 25px;
}
.aside {
  flex: 15%;
  background-color: #44c8f5;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 25px 0 0 25px;
}
.aside > ul > li{
  margin-bottom: 25px;
}
.aside > ul > li.title{
  font-size: 2rem;
}
.aside > ul > li.ects-total-info{
  font-size: 0.9rem;
}
.aside > ul > li.ects-total-info:last-child{
  font-size: 0.7rem;
}
.ects-gauge{
  background-color: black;
  height: 25px;
  width: 100%;
  margin: 5px auto;
}
.ects-gauge .reserved{
  height: 100%;
  width: 50%;
  background-color:#f5f2b6 ;
}
.icon {
  height: 32px;
  width: 32px;
}
/* Welcome Page */
div > .title > span{
  margin-right: 10px;
}
div > .title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
  
}

div.welcome-page .content li {
  padding: 5px 0px;
}
div.login-page .content li {
  margin-top: 10px;
}
input#ECTS {
  width: 150px;
}
/* Complete Course */
.complete-controller{
  margin-top: 15px;
}
.semesters-selector ul li{
  display: inline-block;
  padding: 3px;
  color: white;
  font-size: 14px;
  background-color: #ccc;
}
.semesters-selector ul li.selected{
  background-color: #60cf60;
}
.semesters-selector ul li.selected::before{
  content: url("../../assets/media/check-white.svg");
  height: 20px;
  width: 20px;
}
.ordering{
  text-align: center;
  font-size: 12px;
}

.courses ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}
.courses li{
  width: 200px;
  background-color: rgb(230, 230, 230);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}
.courses li div:not(:last-child){
  margin-bottom: 10px;
}
.courses li .title {
  font-size: 18px;
  font-weight: bold;
}
.courses li .ects{
  border:1px dashed #ccc;
  padding: 5px;
  display: inline-block;
  border-radius: 50px;
} 
.courses li .image{
  height: 150px;
  background: rgb(163,207,96);
  background: radial-gradient(circle, rgba(163,207,96,1) 1%, rgba(96,207,96,1) 100%);
}
/* Choice */
.ects-counts{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ects-counts li{
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 10px;
  font-size: 14px;
  text-align: center;
  
}
.ects-counts .completed .count{
  color: #44c8f5;
  font-size: 40px;
}
.ects-counts .desired .count{
  color: #ec008c;
  font-size: 40px;

}

.ects-counts li img{
  width: 100px;
}
.choice-page .content{
  display: inline-block;
}
.navigators{
  margin-top: 10px;
}
table.courses-view{
  float: left;
  width: 50%;
}
.courses-view {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.courses-view,th,td{
  border:none
}
.courses-view.completesd tr:nth-child(1),.courses-view.completesd tr:nth-child(2),.courses-view.completesd tr:last-child{
  background-color:rgba(60,200,245,0.3);
}
.courses-view.completesd tr:nth-child(even):not(:nth-child(2)):not(:nth-child(1)){
  background-color: rgba(60,200,245,0.2);
}
.courses-view.completesd tr:nth-child(odd):not(:nth-child(2):nth-child(1)){
  background-color: rgba(60,200,245,0.1)
}

.courses-view.desired tr:nth-child(1),.courses-view.desired tr:nth-child(2),.courses-view.desired tr:last-child{
  background-color:#ec008c;
  color: white;

  
}

.courses-view.desired tr:nth-child(even):not(:nth-child(2)):not(:nth-child(1)){
  background-color: rgba(236,0,140,0.1)
}
.courses-view.desired tr:nth-child(odd):not(:nth-child(2):nth-child(1)){
  background-color: white
}
table.courses-view th{
  text-align: center;
  border: 0px solid;
}
.courses-view td, .courses-view th {
  padding: 8px;
}


/* Footer */
footer {
  margin-top: 25px;
  text-align: center;
  color: white;
}
